<carousel>
  <slide>
    <img src="assets/imgs/01_asm.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/imgs/02_asm.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/imgs/03_asm.jpeg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
