<button type="button" class="btn btn-primary" (click)="openModal(modalConfirm)">Ouvrir</button>
<br><br>
<ng-template #modalConfirm>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

