<div>
  <tabset>
    <tab heading="Tableau 1" id="tab1">Tableau 1</tab>
    <tab heading="Tableau 2">Affichage de mon tableau 2</tab>
    <tab heading="Tableau 3">Affichage de mon tableau 3</tab>
  </tabset>
</div>
